// .eslintrc
{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  // HERE
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "rules": {
//    "no-unused-vars": "error",
    //    "no-console": "error",////NOTE: Need console for database connection, server started information
    //    "no-undef": "error",
    //    "no-unused-expressions": "error",////NOTE: giving error at index.ts process is not defined
    "no-unreachable": "error"
    //    "consistent-type-definitions": ["error", "type"]////NOTE: Giving error at import
  },

  "env": {
    "browser": true,
    "es2021": true
  }
}
